<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football Club's</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        #h1{color:#28a745;size: 24px;}
        body{
            background: #a7b1f9;
        }
        footer{
            position: absolute;
            background:#a7b1f9;
            color: #343a40;
            width: 10%;
            font-style:italic;
            text-align:right;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <h1 id="h1">Football Club's</h1>
            <form action="#" th:action="@{/clubs/}" th:object="${club}" method="POST">
                <label for="label">FC Name</label>
                <input type="text" id="label" name="label" th:field="*{label}"
                       class="form-control" placeholder="Name енгізіңіз" />

                <label for="description">International</label>
                <input type="text" id="description" name="description" th:field="*{description}"
                       class="form-control" placeholder="Club Name сипаттаңыз" />

                <br/>
                <button type="submit" class="btn btn-primary">Save</button>

            </form>
        </div>
    </div>
</div>

<footer>
    &copy;ABS 2018 Football
</footer>

</body>
</html>